@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
 }

.content {
    text-align: center;
    margin: 10px auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 37%;
}

textarea {
    display: inline-block;
    height: 20vh;
    width: 400px;
    border: 2px solid black;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

button {
    display: block;
    width: fit-content;
    border: 2px solid black;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: large;
    padding: 6px;
    border-radius: 1rem;
    background-color: yellow;
}

blockquote {
    align-items: center;
    display: inline-block;
    height: 20vh;
    width: 400px;
    border: 2px solid black;
    border-radius: 1rem;  
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: lightgrey;
}

.container {
    background-color: yellow;
    display: block;
    margin: auto;
    padding: 3rem;
}

.container h1{
    text-align: center;
    margin-right: 15%;
    padding-top: 4%;
}

.container img{
    float: left;
    width: 200px;
    height: 200px;
    margin-top: -4%;
    max-width: 100%;
}

/* For small screen phones */
@media only screen and (min-width:350px) and (max-width:383px) {
    .content {
        text-align: center;
        margin: 10px auto;
        display: inline-block;
        vertical-align: middle;
    }

    textarea {
        max-width: 300px;
        margin-left: 12px;
    }
    
    blockquote {
        max-width: 300px;
        margin-left: 12px;
    }

    img {
        margin-left: 30px;
    }

    .container h1{
        margin-left: 30px;
    }
}

/* For small screen phones */
@media only screen and (min-width:384px) and (max-width:399px) {
    .content {
        text-align: center;
        margin: 10px auto;
        display: inline-block;
        vertical-align: middle;
    }

    textarea {
        max-width: 300px;
        margin-left: 24px;
    }
    
    blockquote {
        max-width: 300px;
        margin-left: 24px;
    }

    img {
        margin-left: 30px;
    }

    .container h1{
        margin-left: 30px;
    }
}

/* For phones in landscape mode */
@media only screen and (max-width:900px) and (orientation:landscape) {

    .content {
        text-align: center;
        margin: 10px auto;
        display: inline-block;
        vertical-align: middle;
        margin-left: 32%;
    }

    textarea {
        max-width: 300px;
    }
    
    blockquote {
        max-width: 300px;
    }

    .container {
        display: flex;
        padding: 1rem;
        flex-wrap: wrap;
        align-items: center;
        gap: 10%;
    }
    
    .container img {
        display: flex;
        float: left;
    }

    .container h1{
        display: flex;
        float: right;
        margin-left: 5px;
    }
}

/* For large screen phones */
@media only screen and (min-width:438px) and (max-width:500px) {

    .content {
        text-align: center;
        margin: 10px auto;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8%;
    }

    textarea {
        max-width: 300px;
        margin-left: 12px;
    }
    
    blockquote {
        max-width: 300px;
        margin-left: 12px;
    }

    img {
        margin-left: 50px;
    }

    .container h1{
        margin-left: 30px;
    }
}

/* For tablets */
@media only screen and (min-width:800px) and (max-width:1100px) {

    .content {
        text-align: center;
        margin: 10px auto;
        display: inline-block;
        vertical-align: middle;
        margin-left: 32%;
    }

    textarea {
        max-width: 300px;
        margin-left: 12px;
    }
    
    blockquote {
        max-width: 300px;
        margin-left: 12px;
    }
    .container {
        display: flex;
        padding: 1rem;
        flex-wrap: wrap;
        align-items: center;
        gap: 10%;
    }
    
    .container img {
        display: flex;
        float: left;
    }

    .container h1{
        display: flex;
        float: right;
        margin-left: 5px;
    }
}

/* For tablets in landscape mode */
@media only screen and (max-width:1100px) and (orientation:landscape) {

    .content {
        text-align: center;
        margin: 10px auto;
        display: inline-block;
        vertical-align: middle;
        margin-left: 32%;
    }

    textarea {
        max-width: 300px;
        margin-left: 12px;
    }
    
    blockquote {
        max-width: 300px;
        margin-left: 12px;
    }
    .container {
        display: flex;
        padding: 1rem;
        flex-wrap: wrap;
        align-items: center;
        gap: 17%;
    }
    
    .container img {
        display: flex;
        float: left;
    }

    .container h1{
        display: flex;
        float: right;
        margin-left: 5px;
    }
}